#dataCollection
{
    font-weight: 700;
    background-image: url(../assets/img/1.jpeg);
}


.workoutimage {
  background-image: url("./assets/img/img1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}