.dataCollection .b,p,label, h5, h3
{
  font-weight: 800;
  opacity: 0.9;
  color: rgb(255, 72, 0); 
}


/*
.workoutimage {
  background-image: url("./assets/img/img1.jpeg");
  background-position: absolute;
  background-repeat: no-repeat;
  background-size: cover;

}
*/

#form-group 
{
transform: translate (-200px, -200px)

}

.jumbotron 
{
background-color: rgb(255, 0, 0);
font-size: 200;

}

body 
{
background-image:url(../img/1.jpg);
background-repeat: no-repeat;
background-size: cover;
text-decoration-color: blanchedalmond;

}
#mx-auto
{

  text-align: center;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 6vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}